* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#bg {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1;
}
h1 {
  color: rgb(214, 47, 47);
  margin-top: 2rem;
  width: 100%;
  font-size: 4rem;
}
header {
  display: grid;
  justify-content: center;
  height: 500vh;
  width: 100%;
  grid-template-rows: 200vh 10rem;
}
p {
  font-size: 8rem;
}
a,
a:visited,
a:focus,
a:link {
  color: #333;
}
